[{sasl,[{errlog_type,error}]},
 {joken,[{config_module,'Elixir.Guardian.JWT'}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {thoughtshare,
     [{'Elixir.Thoughtshare.Endpoint',
          [{root,<<"/var/www/thoughtshare">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Thoughtshare.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {url,[{host,<<"alpha.grokstuff.com">>}]},
           {server,true},
           {secret_key_base,
               <<"e4AQTGH1P0TEKKK34L1qK8bdprA6w3agpi2YEkMpIA2+OZgHl5JDi6g5zt4zwMW/">>}]},
      {'Elixir.Thoughtshare.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"thoughtshare_prod">>},
           {pool_size,20}]}]},
 {neo4j_sips,
     [{'Elixir.Neo4j',
          [{url,<<"http://alpha.grokstuff.com:7474">>},
           {pool_size,5},
           {max_overflow,2},
           {timeout,30},
           {basic_auth,
               [{username,<<"neo4j">>},{password,<<"@Nvil2013">>}]}]}]},
 {guardian,
     [{'Elixir.Guardian',
          [{issuer,<<"MyApp">>},
           {ttl,{30,days}},
           {verify_issuer,true},
           {serializer,'Elixir.Thoughtshare.GuardianSerializer'},
           {secret_key,<<"wd9v3wn3vdil0indjq2v0i">>}]}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]}].
